<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
      
		<head>
			<title>Home</title>
			<style type="text/css">
			</style>
		</head>
<body>
	<h:form>
		<p:panelGrid columns="2">
			<f:facet name="header">
					Champs de recherches
				</f:facet>		
			
			<p:outputLabel value="university" for="universityId"/>
			<h:selectManyMenu  id="universityId" value="#{searchForm.university}"
				>
				<f:selectItems value="#{searchForm.selectItem}"/>
			</h:selectManyMenu>	
			<h:outputLabel value="City" for="cityId"/>
			<h:inputText id="cityId" value="#{searchForm.city}" />
			
			<h:outputLabel value="Name" for="nameId"/>
			<h:inputText id="nameId" value="#{searchForm.userName}" />
			
			<h:outputLabel value="Register Date" for="registerDateId"/>
			<p:calendar id="registerDateId" value="#{searchForm.registerDate}" showOn="button" />
		
			<f:facet name="footer">
				<p:commandButton value="Search" action="#{searchForm.searh()}" />
			</f:facet>
		</p:panelGrid>
	</h:form>
	 
	
</body>
		
</html>