/* ---------------------------------------------------------------------------------------------
 * HTML Tag style + some page layout style
 * ---------------------------------------------------------------------------------------------*/
 
/* HTML tag
----------------------------------*/
html, body {
	height: 100%;
	
}
body {
	color: #333333;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	/**background-color: #F0F0F0;*/
}
.body_dev {
    background-image: url('${resources.image.url}/background_dev.png') !important;
    background-repeat: repeat;
}
.body_test {
    background-image: url('${resources.image.url}/background_test.png') !important;
    background-repeat: repeat;
}
.body_val {
    background-image: url('${resources.image.url}/background_val.png') !important;
    background-repeat: repeat;
}
.body_prod {
    background-image: url('${resources.image.url}/background_prod.png') !important;
    background-repeat: repeat;
}
br {
	font-size: 1px;
}

img {
	border: 0px;
}

pre {
	font-size: 11px;
}

form {
	margin: 0px;
}

td {
	vertical-align: top;
	/* font-size: 12px; */
}

a {
	color: #333333;
	text-decoration: none;
	cursor: pointer;
}

/* a:visited {
	color: #527DA2;
	text-decoration: none;
} */

a:hover {
	color: #EB142A; /* red onem */
}

ul {
	padding-left: 40px;
}

input[type=submit], button[type=submit], input[type=button], button.ui-confirmdialog-yes, button.ui-confirmdialog-no, button.ui-button-text-only {
	height: 30px !important;
	background-color: #333333;
	color: white !important;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	float: right !important;
	border: 0px;
	padding: 5px !important;
	cursor: pointer;
	margin: 0px !important;
	margin-left: 10px !important;
	margin-top: 5px !important;
}

input[type=submit]:hover, button[type=submit]:hover,  input[type=button]:hover, 
input[type=submit].principal, button[type=submit].principal, input[type=button].principal, 
button.ui-confirmdialog-yes:hover, button.ui-confirmdialog-no:hover, button.ui-button-text-only:hover {
	background-color: #EB142A !important;
}

input[type=submit].cancel, button[type=submit].cancel, button[type=button].cancel, input[type=button].cancel, button.ui-confirmdialog-no {
	float: left !important;
	margin-left: 0px !important;
	margin-right: 10px !important;
}

input[type=submit].debug, button[type=submit].debug, button[type=button].debug, input[type=button].debug {
	background-color: #336699;
}

input[type=submit]:disabled, button[type=submit]:disabled, input[type=button]:disabled, button.ui-confirmdialog-yes:disabled, button.ui-confirmdialog-no:disabled {
	background-color: #CCCCCC !important;
	cursor: default;
}

input[type=submit].buttonForLabel, button[type=submit].buttonForLabel, button[type=button].buttonForLabel, input[type=button].buttonForLabel {
	margin-top: -5px !important;
	margin-left: 0px !important;
	margin-right: 10px !important;
}

/* Various page title styles
----------------------------------*/
/* #pageTitle .toolbarItem,.pageTitle .toolbarItem {
	font: bold 12px Arial, Helvetica, sans-serif;
	vertical-align: middle;
} */

#allContent {
	min-height: 100%; 
	position: relative;
	float: left;
	width: 100%;
}

#pageTitle, .pageTitle {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #EB142A;
	padding-top: 17px !important;
}

#pageTitleBox, .pageTitleBox {
	height: 51px;
}

/* .pageTitleMain {
	font-size: 16px;
}

#titleToolbar a {
	color: #527da2 !important;
	text-decoration: none !important;
	cursor: pointer !important;
	font: bold 12px Arial, Helvetica, sans-serif !important;
}

#titleToolbar a:hover {
	color: red !important;
	text-decoration: underline !important;
} */

/* Various page content styles
----------------------------------*/
/* div containing menu, pageContent and footer */
#wholePageContent {
	clear: both;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

/* page content */
#pageContent {
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-bottom: 100px;
}

.withoutPageTitle {
	margin-top: 0px;
}

.contentForm, .contentFormUnique, .contentFormOnlyTable {
	background-color: white;
	padding: 10px;
	padding-top: 6px;
	overflow: auto;
	margin-bottom: 10px;
}
.ui-panel.contentForm{
	background-color: transparent;
	margin-bottom: 20px;
}

.contentFormUnique {
	min-height: 400px;
	padding-top: 10px;
}


/** formatted class used only for messages contained in contentForm, contentFormUnique and contentFormOnlyTable **/
.contentForm ul, .contentFormUnique ul, .contentFormOnlyTable ul {
  	padding:0;
}

.contentFormOnlyTable .ui-datatable {
	margin: 0px;
	padding: 0px;
}

/* Ajax in progress style
----------------------------------*/
.ajaxInProgress {
	border: #DD3 solid 1px;
	background-position: 2px center;
	padding: 5px;
	padding-left: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	height: 18px;
	vertical-align: middle;
	font-size: 12px;
	color: #515151;
	background: #FFA url('${resources.image.url}/wait.gif') no-repeat;
}

.ui-dialog.waitingPopup {
	background-color: #333333 !important;
	color: white !important;
	padding: 10px;
}

.ui-dialog.waitingPopup td {
	vertical-align: middle !important;
}

.ui-dialog.waitingPopup img {
	margin-right: 10px;
}


/* Javascript confirm popup style
----------------------------------*/
.jsPopupBackground {
	background-color: #AAAAAA;
	opacity: .5;
	filter: alpha(opacity = 50);
}

.jsPopupContainer {
	border: 1px solid #848484;
	background-color: #F8F8F8;
	color: black;
}

.jsPopupContainerHead tr th {
	padding: 0px;
	margin: 0px;
	background-color: #daeaf8;
	border: 1px solid #c9d9e7;
}

.jsPopupContainerHead table {
	background-color: #daeaf8;
	border-collapse: collapse;
}

.jsPopupContainerHead td {
	background-color: #daeaf8;
	text-align: center;
	font-weight: bold;
	color: #294747;
	vertical-align: center;
	padding-top: 2px;
	font-size: 13px;
}

.jsPopupContainerHead td input {
	margin-right: 2px;
	cursor: default;
}

.jsPopupContainerBody {
	text-align: center;
	font-size: 12px;
}

.jsPopupContainerBody td {
	padding: 10px;
}

.jsPopupContainerBody td input {
	margin-top: 10px;
}

/* Link style
----------------------------------*/
a.internal, a.external {
	color: black;
	border-bottom: 1px dotted black;
}

a.internal:hover, a.external:hover {
	color: #EB142A;
	border-bottom: 1px dotted #EB142A;
}

a.external span.ext {
	background: url('${resources.image.url}/icon_ext_link.png') no-repeat left center;
	width: 10px;
	height: 10px;
	padding-right: 12px;
}

a.tooltip {
	cursor: help;
}

/* Other style
----------------------------------*/
/* td input {
	margin-top: -2px;
} */

td.rowForIcon{
	width: 18px;
	text-align: center;
}

.inputClass {
    font-family: arial;
    font-size: 12px;
    text-align: left;
    background: #ffffff;
    white-space: nowrap;
    border-spacing: 1px;
    color: #515151;
}

.inputClass[disabled] {
    font-family: arial;
    font-size: 12px;
    text-align: left;
    background: #d4d0c8;
    white-space: nowrap;
    border-spacing: 1px;
    color: #515151;
}

.dataInput {
    font-family: arial;
    font-size: 12px;
    border-spacing: 1px;
    color: #515151;
}

.dataInput:disabled {
    font-family: arial;
    font-size: 12px;
    border-spacing: 1px;
    color: #515151;
}

.halfcol1 {
    width: 50%;
    height: 100%;
    padding-left: 0px;
    padding-right: 5px;
}

.halfcol2 {
    width: 50%;
    height: 100%;
    padding-right: 0px;
    padding-left: 5px;
}

/* INPUT SELECT */
.inputSelectPopup {
    border: 1px solid #848484;
    background-color: #FFFFFF;
}

.inputSelectPopup table {
    border: 1px solid #c9d9e7;
}

.datatable .inputSelectPopupHeader {
    color: #294747;
    background-color: #daeaf8;
    padding: 0px;
    vertical-align: middle;
}

.inputSelectPopupContent table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #FFFFFF;
}

.inputSelectInput {
    width: 300px;
}

.inputSelectSearch .inputSelectPopupHeader {
    background-color: #daeaf8;
}

.inputSelectSearch .inputSelectButton {
    vertical-align: bottom;
    margin-left: 1px;
    margin-bottom: 2px;
}

.inputSelectSearchHidden {
    visibility: hidden;
}

.inputSelectSearch .inputSelectPopup {
    border: 1px solid #848484;
    background-color: #FFFFFF;
}

.layout-table {
    border: 0px none;
}

.layout-table tr,.layout-table td,.layout-table th {
    border: 0px none;
    padding: 1px;
}

.formcol1 {
    width: 250px;
    vertical-align: middle;
    white-space: nowrap;
}

.formcol {
    vertical-align: middle;
    white-space: nowrap;
}

.pointer {
    cursor: pointer;
}

/* Various dimensions for label columns
----------------------------------*/
/* .detformcol1 { 
	width: 155px;
}
.detformcol2 { 
	width: 180px;
}
.detformcol3 { 
	width: 250px;
}
.detformcol4 { 
	width: 305px;
} */

.labelCol {
	min-width: 160px;
	max-width: 340px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	text-align: right;
}

/* Warning : currently (03/2018) this class can only be used in cbportal and uportal.
	To use this in another app : ask to the graphics architect */
.labelColMini {
	min-width: 100px;
	max-width: 340px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	text-align: right;
} 

.formatLabel {
	margin-left: 5px;
}

/* Separator in panel
----------------------------------*/
img.separator {
	height: 20px;
}

/* Classes to force width and position
----------------------------------*/
.right {
	float: right;
}
.left {
	float: left;
}

.txtLeft {
	text-align: left !important;
}
.txtRight {
	text-align: right !important;
}
.txtCenter {
	text-align: center !important;
}

.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}

.width100pc {
	width: 100%;
}


/* Classes for legend of table (when checkboxes)
----------------------------------*/
.tableLegend {
	width: 100%;
	margin-top: -10px;
	background-image: url('${resources.image.url}/arrow_table.png');
	background-repeat: no-repeat;
	background-position: 10px 3px;
	padding-left: 32px;
	border-spacing: 0px 3px;
}

.tableLegend td {
	vertical-align: middle;
}

.tableLegend td:first-child {
	width: 1%;
	white-space: nowrap;
}

/* Classes for redactional and informatif content
----------------------------------*/
.redactionalContent {
	
}

.redactionalContent h3 {
	font-family: "Oxygen", sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 0.6em 0 0.5em 0;
}

.redactionalContent p {
	margin: 0 1em 0 1em;
}

/* Classes for title style 
--------------------------*/

.lvl1Title {
	font-size: 16px;
	font-weight: bold;
    font-family: 'Oxygen', sans-serif;
	color: #EB142A;
	margin-top: 15px;
	margin-bottom: 5px;
	display: inline-block;
}

.lvl2Title {
	font-size: 14px;
	font-weight: bold;
    font-family: 'Oxygen', sans-serif;
	color: #333333;
	margin-top: 20px;
	margin-bottom: 10px;
}

div.columns, div.columns.ui-panel > div.ui-panel-content {
	display: flex;
	flex-flow: row wrap;
}

div.columns.ui-panel {
	display: block;
}

.columnCenter {
	flex: 1 0 0px;
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.columnLeft {
	flex: 1 0 0px;
	padding-right: 5px !important;
}
.columnCenter {
	flex: 1 0 0px;
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.columnRight {
	flex: 1 0 0px;
	padding-left: 5px !important;
}

div.columns > .width100pc, div.columns.ui-panel > div.ui-panel-content > .width100pc {
	flex: 0 1 100M;
}


/* CLASS FOR NAVIGATION 
---------------------------*/
.navFooter {
	padding-top: 5px;
	vertical-align: middle;
	text-align: center;
	width: 33% !important;
}

/* Custom components 
--------------------------*/
.euroAmount:after {
	content: " EUR";
}

.waitingPopup .principal {
	width:	100%;
}