/* ---------------------------------------------------------------------------------------------
 * Header style
 * ---------------------------------------------------------------------------------------------*/

/* Top banner with light grey background
-------------------------------------------------------*/
#bannerTop {
height: 34px;
background-color: #F0F0F0;
font-family: 'Source Sans Pro', sans-serif;
font-size: 14px;
color: #333333;
padding: 0 10px;
position: relative;
}

#bannerLeft {
position: absolute;
top: 50%;
transform: translateY(-50%);
}

#bannerTop span {
color: #EB142A; /* red onem */
}

#bannerTop a {
color: #333333;
text-decoration: none;
}

#bannerTop a:hover {
color: #EB142A; /* red onem */
}

#bannerRight {
right: 54px;
position: absolute;
top: 50%;
transform: translateY(-50%);
}

#bannerRight div {
float: right;
}

#bannerRight div.searchText {
    height: 17px !important;
    border: 1px solid #C4C4C3;
    padding: 2px !important;
    padding-right: 22px !important;
    margin-top: -2px;
    margin-left: 15px;
    background: white url('http://documents-javadev/static/files/onerva-ui/images/ops_search_red.png') no-repeat right 5px center;
    color: #676767;
}
#bannerRight div.searchText input[type='text']{
border: 0;
outline: none;
}

#logoBe {
position: absolute;
right: 10px;
top: 7px;
width: 29px;
height: 21px;
background-image: url('${resources.image.url}/logo_be.png');
}
.banner_dev {
background-color: #F8F868 !important;
}
.banner_test {
    background-color: #98D8F8 !important;
}
.banner_val {
    background-color: #98f8ad !important;
}
.banner_prod {
}



/* 2nd banner with dark grey background and title app
-------------------------------------------------------*/
#banner {
height: 45px;
background-color: #333333;
font-family: 'Oxygen', sans-serif;
font-weight: bold;
font-size: 18px;
color: white;
position: relative;
}

#banner span {
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 73px;
}

#banner span#bannerWaiting {
transform: none !important;
}

#banner span#bannerWaiting .ui-dialog.waitingPopup {
padding: 0px;
font-size: 14px;
font-family: "Source Sans Pro", sans-serif;
border: 0 !important;
font-weight: normal;
background-color: #333333;
position: fixed !important;
top: 37px !important;
right: 5px !important;
left: auto !important;
}
#banner span#bannerWaiting .ui-dialog.waitingPopup .ui-dialog-content {
padding: 5px !important;
}

#logoOnemde {
width: 64px;
height: 45px;
background-image: url('${resources.image.url}/logo_onem_de.png');
}

#logoOnemfr {
width: 64px;
height: 45px;
background-image: url('${resources.image.url}/logo_onem_fr.png');
}

#logoOnemnl {
width: 64px;
height: 45px;
background-image: url('${resources.image.url}/logo_onem_nl.png');
}
