/* ---------------------------------------------------------------------------------------------
 * Local Style
 * ---------------------------------------------------------------------------------------------*/
.gridCol1 {
	width: 1%;
}

.gridCol2 {
	width: 2%;
}

.gridCol3 {
	width: 3%;
}

.gridCol4 {
	width: 4%;
}

.gridCol5 {
	width: 5%;
}

.gridCol6 {
	width: 6%;
}

.gridCol7 {
	width: 7%;
}

.gridCol8 {
	width: 8%;
}

.gridCol9 {
	width: 9%;
}

.gridCol10 {
	width: 10%;
}

.gridCol11 {
	width: 11%;
}

.gridCol12 {
	width: 12%;
}

.gridCol18 {
	width: 18%;
}

.gridCol20 {
	width: 20%;
}

.gridCol20p5 {
	width: 20.5%;
}

.gridCol21p5 {
	width: 21.5%;
}

.gridCol25 {
	width: 25%;
}

.gridCol30 {
	width: 30%;
}

.gridCol35 {
	width: 35%;
}

.gridCol40 {
	width: 40%;
}

.gridCol50 {
	width: 50%;
}
.gridCol76 {
	width: 76%;
}

.gridCol82 {
	width: 82%;
}

.l {
	text-align: left;
}

.c {
	text-align: center;
}

.r {
	text-align: right;
}

/* For data table without header. */
.noHeader.ui-datatable table thead tr {
    display: none;
}

/* For data table with footer for select button. */
.cc-select-datatable .ui-datatable-footer {
	background-color: #F6F6F6 !important;
	min-height: 40px !important;
	border: 0px !important;
}

.ui-datatable table tbody tr.ui-expanded-row-content table {
	background-color: white;
}

.ui-datatable table tbody tr.ui-expanded-row-content table tbody {
	display: table-header-group;
}

.ui-datatable table tbody tr.ui-expanded-row-content table thead tr th {
	background-color: #CCCCCC;
	border: #CCCCCC;
	border-right: solid 2px #CCCCCC;
	text-align: left;
}

.ui-datatable table tbody tr.ui-expanded-row-content > tr {
	padding: 0px 0px 0px 0px;
}

.ui-datatable table tbody tr.ui-expanded-row-content > td {
	border: solid 2px #CCCCCC;
}

.subtable {
	margin-top: 0px;
	margin-bottom: 0px;
}

.subtableHeaderStyle {
	background-color: #333333 !important; 
	border-style: none !important;
}

.ui-widget .icon-history {
	background-image: url('http://documents-javadev/static/files/onerva-ui/images/ui-icons_333333.png');
	background-position: -17px -97px;
	width: 13px;
	height: 13px;
}

span.tooltip {
	cursor: help;
}

img.tooltip {
	cursor: help;
}

.colorRed {
	color: red;
}

.colorWhite {
	color: black;
}