/* ---------------------------------------------------------------------------------------------
 * Menu style
 * ---------------------------------------------------------------------------------------------*/

/* Page - left action container of toggle menu visibility + menu 
----------------------------------*/
#leftActions, .leftActions {
	position: relative;
	top: 0px;
	float: left;
	padding-bottom: 120px;
	padding-top: 20px;
}

.leftActions .ui-panelgrid-cell {
	border: 0px !important;
	padding: 0px !important;
}

/* Basic menu style
----------------------------------*/
/* .menu a {
	text-decoration: none;
}

.menu ul li span {
	display: block;
	background-color: #DCECFA;
	color: #294747;
	text-decoration: none;
	border-bottom: 1px solid #87A8A8;
	padding: 2px 20px;
	margin: 0px;
}

.menu ul li a {
	display: block;
	background-color: #DCECFA;
	color: #294747;
	text-decoration: none;
	border-bottom: 1px solid #87A8A8;
	padding: 2px 20px;
	margin: 0px;
}

.menu ul li a:visited {
	color: #294747;
	text-decoration: none;
}

.menu ul li a:hover {
	color: #FFFFFF;
	background-color: #0080AA;
	text-decoration: none;
}

.menu ul li a:active {
	color: #294747;
	text-decoration: none;
}

.menu ul li a.selected {
	font-weight: bold;
	color: #294747;
	text-decoration: none;
}

.menu ul ul li span {
	padding: 2px 20px 2px 25px;
	margin: 0px;
	background-color: #FFFFFF;
}

.menu ul ul li a {
	padding: 2px 20px 2px 25px;
	margin: 0px;
	background-color: #FFFFFF;
}

.menu ul ul li ul li span {
	padding: 2px 20px 2px 30px;
	margin: 0px;
}

.menu ul ul li ul li a {
	padding: 2px 20px 2px 30px;
	margin: 0px;
}

.menu ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.menu li {
	margin: 0px;
	padding: 0px;
	display: inline;
}

.menu ul.mypage li span {
	padding: 2px 20px 2px 20px;
	background-color: #D1E4E4;
	margin: 0px;
	background-color: #EAF4F4;
}

.menu ul.mypage li a {
	padding: 2px 20px 2px 20px;
	background-color: #D1E4E4;
	margin: 0px;
	background-color: #EAF4F4;
}

.menu ul.mypage ul li a:hover {
	color: #FFFFFF;
	background-color: #87A8A8;
}

.menu {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgb(84, 99, 89);
	border-right-color: rgb(84, 99, 89);
	border-bottom-color: rgb(84, 99, 89);
	border-left-color: rgb(84, 99, 89);
	background-color: rgb(234, 244, 244);
}

.menu .disabled {
	color: #ccc
} */

/* Page with and without menu style
In order to remove pageContent2 and footer2, as a class of pageContent and footer, 
you can use either visibleMenu or noMenu.
---------------------------------------------------------------------------------------------*/
/* For page with menu
----------------------------------*/
/* Width of menu */
.menuWidth {
	width: 195px !important;
    background-color: white;
    margin-left: 10px;
}

/* Zone of div containing space on the left (10px), menu (195px), toggleButton (30px), + padding (20 px) */
.visibleMenu {
	margin-left: 255px;
}

.hiddenMenu {
	margin-left: 50px;
}

/* For page without menu
----------------------------------*/
.noMenu {
	margin-left: 10px;
}