/* ---------------------------------------------------------------------------------------------
 * Print style
 * ---------------------------------------------------------------------------------------------*/

@media print {
	.leftActions, #bannerTop {
		display: none;
	}
	
	#pageContent,.pageContent {
		position: inherit !important;
		left: 0px;
		top: 0px;
		margin: 0px !important;
		padding: 2px !important;
	}
	
	.contentForm, .contentFormUnique{
		background-color: #FBFBFB;
		margin-bottom: 70px;
	}
	
	* {
		-webkit-print-color-adjust: exact; /* Chrome & safari */
		color-adjust: exact; /* Firefox */
	}
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		* {
			overflow: hidden;
		}
	}
	
	.ui-panel {
		overflow: hidden;
	}
}