<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/layout/main.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http:java.sum.com/jsp/jstl/core"
    xmlns:o="http://java.sun.com/jsf/html">
 
	
	<ui:define name="pageTitle">
		 <h:outputLabel value="#{messages.send_money_title}" />
	</ui:define>
	
	 <ui:define name="pageContent">
		 <div class="contentForm">
		  	<h:form id="sendMoneyFormId">
				<p:panel header="${messages.send_money_sub_title}" >
					<p:panelGrid columns="3" columnClasses="labelcol">
						<h:outputLabel value="${messages.send_money_destination}" for="destinationId"/>
						<h:selectOneListbox id="destinationId" rendered="true" size="1"
							value="#{sendMoneyForm.destination}">
							<f:selectItem itemValue="" value="#{sendMoneyForm.destination}"/>
							<f:selectItems value="#{transferMoneySelectItems.destinationSelectItmes}" />
						</h:selectOneListbox>
						<p:message for="destinationId" id="destinationErrorId" />
						
						<h:outputLabel value="${messages.send_money_amount}" for="amountId"/>
						<h:inputText id="amountId"  value="#{sendMoneyForm.amount}" required="true" >
							<f:convertNumber integerOnly="true"  type="currency"  currencySymbol="€" />
						</h:inputText>
						<h:panelGroup>
							<h:outputLabel value ="€" />
							<p:message for="amountId" id="amountErrorId" />
						</h:panelGroup>
						
						
						<h:outputLabel value="${messages.send_money_name}" for="nameId"/>
						<h:inputText id="nameId"  value="#{sendMoneyForm.lastName}" required="true" />
						<p:message for="nameId" id="nameErrorId" />
						
						<h:outputLabel value="${messages.send_money_last_name}" for="fistNameId"/>
						<h:inputText id="fistNameId"  value="#{sendMoneyForm.fristName}" required="true" />
						<p:message for="fistNameId" id="fristNameErrorId" />
						
						<h:outputLabel value="${messages.send_money_contact}" for="contactId"/>
						<h:inputText id="contactId"  value="#{sendMoneyForm.phone}" required="true" >
						</h:inputText>
						<p:message for="contactId" id="contactErrorID" />						
						
					</p:panelGrid>
				</p:panel>
				<p:commandButton id="sendBtnId" value="${messages.send_money_btn_validate}" action="#{sendMoneyAction.sendMoney()}" styleClass="principal" ajax="false"/>
				<p:commandButton id="cancelBtnId" value="${messages.btn_cancel}" outcome="home" styleClass="cancel"/>
		  	</h:form>
		 </div>
	 </ui:define>
	
 </ui:composition>  
