<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:o="http://omnifaces.org/ui">
<f:view encoding="UTF-8">
    <h:head>
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="Content-Type" content="application/xhtml+xml;charset=UTF-8" />
        <meta http-equiv="cache-control" content="no-cache, must-revalidate" />
        <h:outputStylesheet library="css" name="footer.css" />
        <h:outputStylesheet library="css" name="global.css" />
        <h:outputStylesheet library="css" name="header.css" />
        <h:outputStylesheet library="css" name="menu.css" />
        <h:outputStylesheet library="css" name="google-fonts.css" />
        <h:outputStylesheet library="css" name="font-awesome.min.css" />
        <h:outputStylesheet library="css" name="messages.css" />
        <h:outputStylesheet library="css" name="print.css" />
        <h:outputStylesheet library="css" name="images.css" />
        <h:outputStylesheet library="css" name="local.css" />
       <!--  <h:outputScript library="resources/js" name="jspopup.js" target="head"/>
        <h:outputScript library="resources/js" name="focus.js" target="head"/>
        <h:outputScript library="resources/js" name="pfcalendar.js" target="head"/>
        <h:outputScript library="resources/js" name="menu.js" target="head"/>
        <h:outputScript library="omnifaces" name="fixviewstate.js" target="head" /> -->
        <ui:insert name="inhead" />
        <!-- <h:outputScript library="primefaces" name="jquery/jquery.js" target="head" /> -->
       
        <title><h:outputText value="${messages.bar_title}" /></title>
       
    </h:head>
    <h:body>
        <!-- <f:loadBundle var="errors" basename="errors" /> -->
        <div id="allContent">
            <div id="header">
                <ui:insert name="header">
                    <ui:include src="/WEB-INF/layout/header.xhtml" />
                </ui:insert>
            </div>
           
            <ui:insert name="wholePageContent">
                <h:form id="menuform" enctype="application/x-www-form-urlencoded; charset=UTF-8">
                    <div class="leftActions">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <h:panelGroup id="menuPanel">
                                        <ui:include src="/WEB-INF/layout/menu.xhtml" />
                                    </h:panelGroup>
                                </p:column>
                               
                                <p:column>
                                    <h:panelGroup>
                                        <p:commandLink id="menuButtonHide"
                                            onclick="document.getElementById('menuform:menuPanel').style.display = 'none';
                                                document.getElementById('menuform:menuButtonShow').style.display = 'block';
                                                document.getElementById('menuform:menuButtonHide').style.display = 'none';
                                                createCookie('showMenu','hidden', 10);
                                                $('#pageContent').removeClass('visibleMenu').addClass('hiddenMenu');">
                                            <div class="menu-collapse" />
                                        </p:commandLink>
                                        <p:commandLink id="menuButtonShow"
                                            onclick="document.getElementById('menuform:menuPanel').style.display = 'block';
                                                document.getElementById('menuform:menuButtonShow').style.display = 'none';
                                                document.getElementById('menuform:menuButtonHide').style.display = 'block';
                                                eraseCookie('showMenu');
                                                $('#pageContent').removeClass('hiddenMenu').addClass('visibleMenu');"
                                                style="display:none;">
                                            <div class="menu-expand" />
                                        </p:commandLink>
                                    </h:panelGroup>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </div>
                </h:form>
                <div id="pageContent" class="visibleMenu">
                    <h:form id="titleToolbar">
                        <div id="pageTitleBox">
                            <div id="pageTitle">
                                <ui:insert name="pageTitle" />
                            </div>
                        </div>
                    </h:form>
                    <ui:insert name="pageContent" />
                </div>
                <div id="footer">
                    <ui:insert name="footer">
                    	<ui:include src="/WEB-INF/layout/forter.xhtml" />
                    </ui:insert>
                </div>
                <p:ajaxStatus onstart="PF('statusModalPanelP').show()" oncomplete="PF('statusModalPanelP').hide()" />
                <p:dialog styleClass="waitingPopup" widgetVar="statusBlockingModalPanelP"
                 modal="true" draggable="false" closable="false" resizable="false"
                 showHeader="false" position="center">
                    <h:panelGrid columns="2">
                        <p:graphicImage url="${resources.image.url}/wait.gif" width="24" height="24"/>
                        <h:outputText value="#{messages.ajax_inprogress}" />
                    </h:panelGrid>
                    <h:panelGrid styleClass="width100pc">
	                    <f:facet name="footer">
							<ui:insert name="waitingPanelButton" />
						</f:facet>
				 	</h:panelGrid>
                </p:dialog>
                <ui:insert name="poller" />   
           </ui:insert>
        </div>
    </h:body>
</f:view>
</html>


