<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cdi="http://onerva.fgov.be/cdi"
        xmlns:fn="http://java.sun.com/jsp/jstl/functions">
   
    <div id="menudiv" class="menuWidth">  
        <p:menu toggleable="true">
            <p:menuitem id="gohome" value="${messages.menu}" outcome="/home" >
                <cdi:conversationPropagationNone />
            </p:menuitem>
           
            <p:submenu id="procesingSendReceiveGropId" label="#{messages.menu_send_title}" expanded="true" toggleable="true" icon="icon"
                    styleClass="#{fn:startsWith(view.viewId, '/processing') ? 'selected' : ''}">
                   <!--  rendered="#{identity.hasAnyRolesCommaSeparated('ROLE_APP_ADMIN,ROLE_DIRECTOR,ROLE_ADMIN,ROLE_DEBUG')}" -->
                    
                <p:menuitem id="procSendMoney" value="${messages.menu_send}" outcome="sendmoney" 
                        styleClass="#{fn:startsWith(view.viewId, '/processing/sendMoney/sendmoney.xhtml') ? 'selected' : ''}">
                    <cdi:conversationPropagationNone/>
                </p:menuitem> 
               
            </p:submenu>
           
            <p:submenu id="ManageParamsMnuGrp" label="#{messages.menu_manage_params}" expanded="true" toggleable="true" icon="icon"
                    styleClass="#{fn:startsWith(view.viewId, '/manage') ? 'selected' : ''}"
                    rendered="#{identity.hasAnyRolesCommaSeparated('ROLE_APP_ADMIN,ROLE_ADMIN,ROLE_DIRECTOR,ROLE_DEBUG')}"  >
                <p:menuitem id="managePage1" value="${messages.menu_manage_combinations}" outcome="combinations" icon="icon"
                rendered="#{identity.hasAnyRolesCommaSeparated('ROLE_APP_ADMIN,ROLE_DIRECTOR,ROLE_ADMIN,ROLE_DEBUG')}"
                        styleClass="#{fn:startsWith(view.viewId, '/manage/combinations/combinations.xhtml') ? 'selected' : ''}">
                    <cdi:conversationPropagationNone />
                </p:menuitem>
                <p:menuitem id="managePage2" value="#{messages.import_distribution_key}" outcome="importDistributionKeys" icon="icon"
                rendered="#{identity.hasAnyRolesCommaSeparated('ROLE_APP_ADMIN,ROLE_ADMIN,ROLE_DEBUG')}"
                        styleClass="#{fn:startsWith(view.viewId, '/manage/import/importDistributionKeys.xhtml') ? 'selected' : ''}">
                    <cdi:conversationPropagationNone />
                </p:menuitem>
                <p:menuitem id="distributionKeyManagement" value="${messages.menu_distribution_key}" outcome="distributionKey" icon="icon"
                rendered="#{identity.hasAnyRolesCommaSeparated('ROLE_APP_ADMIN,ROLE_DIRECTOR,ROLE_ADMIN,ROLE_DEBUG')}"
                        styleClass="#{fn:startsWith(view.viewId, '/manage/distributionKeyManagement/distributionKey.xhtml') ? 'selected' : ''}">
                    <cdi:conversationPropagationNone />
                </p:menuitem>
            </p:submenu>
           
            <p:submenu id="debugMnuGrp" label="Debug" expanded="true" toggleable="true" icon="icon"
                    styleClass="#{fn:startsWith(view.viewId, '/debug') ? 'selected' : ''}"
                    rendered="#{identity.hasAnyRolesCommaSeparated('ROLE_DEBUG,ROLE_ADMIN')}">
                <p:menuitem id="menuDevOnly" value="Only dev" outcome="/debug/debug.xhtml" icon="icon"
                        styleClass="#{fn:startsWith(view.viewId, '/debug/debug') ? 'selected' : ''}" >
                    <cdi:conversationPropagationNone />
                </p:menuitem>
<ui:remove>
                <p:menuitem id="menuDevAccOper" value="Accounting operations" outcome="debugAccountingOperations" icon="icon"
                rendered="#{identity.hasAnyRolesCommaSeparated('ROLE_DEBUG,ROLE_ADMIN')}"
                        styleClass="#{fn:startsWith(view.viewId, '/debug/accountingOperations') ? 'selected' : ''}">
                    <cdi:conversationPropagationNone />
                </p:menuitem>
			</ui:remove>
                <p:menuitem id="menuDevImpStates" value="Import states" outcome="debugImportStates" icon="icon"
                rendered="#{identity.hasAnyRolesCommaSeparated('ROLE_DEBUG,ROLE_ADMIN')}"
                        styleClass="#{fn:startsWith(view.viewId, '/debug/importStates') ? 'selected' : ''}">
                    <cdi:conversationPropagationNone />
                </p:menuitem>
                <p:menuitem id="menuDevOperationsSelection" value="Operations selection" outcome="debugOperationsSelection" icon="icon"
                rendered="#{identity.hasAnyRolesCommaSeparated('ROLE_DEBUG,ROLE_ADMIN')}"
                        styleClass="#{fn:startsWith(view.viewId, '/debug/operationsSelection') ? 'selected' : ''}">
                    <cdi:conversationPropagationNone />
                </p:menuitem>
                <p:menuitem id="menuDevImportFromExcel" value="Import excel" outcome="debugImportFromExcel" icon="icon"
                rendered="#{identity.hasAnyRolesCommaSeparated('ROLE_DEBUG,ROLE_ADMIN')}"
                        styleClass="#{fn:startsWith(view.viewId, '/debug/importFromExcel') ? 'selected' : ''}">
                    <cdi:conversationPropagationNone />
                </p:menuitem>
                <p:menuitem id="menuDevImportAoDetailFromExcel" value="Import AO Detail excel" outcome="debugImportAoDetailFromExcel" icon="icon"
                rendered="#{identity.hasAnyRolesCommaSeparated('ROLE_DEBUG,ROLE_ADMIN')}"
                        styleClass="#{fn:startsWith(view.viewId, '/debug/importAoDetailFromExcel') ? 'selected' : ''}">
                    <cdi:conversationPropagationNone/>
                </p:menuitem>
                <p:menuitem id="menuDevImportResultsDistributionFromExcel" value="Import Results Distribution excel" outcome="debugImportResultsDistributionFromExcel" icon="icon"
                rendered="#{identity.hasAnyRolesCommaSeparated('ROLE_DEBUG,ROLE_ADMIN')}"
                        styleClass="#{fn:startsWith(view.viewId, '/debug/importResultsDistributionFromExcel') ? 'selected' : ''}">
                    <cdi:conversationPropagationNone/>
                </p:menuitem>
            </p:submenu>
        </p:menu>
    </div>
</ui:component>

