<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/layout/main.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http:java.sum.com/jsp/jstl/core"
    xmlns:o="http://java.sun.com/jsf/html">
 
	
	<ui:define name="pageTitle">
		 <h:outputLabel value="#{messages.home}" />
	</ui:define>
	
	
	 <ui:define name="pageContent">
	  <div class="contentForm">
	  	<p:panel header="${messages.home_title}" >
	  		<p:panelGrid columnClasses="labelcol" columns="3">
	  			<h:outputLabel value="${messages.home_subTitle}"/>
	  		</p:panelGrid>
	  	</p:panel>
	  	
	  </div>
	 </ui:define>
	
	
	
 </ui:composition>  
